@model HomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!-- MAIN START -->

<main>

    <!-- SLIDER START -->

    <section id="slider">
        <div class="owl-carousel slider">
            @foreach (var item in Model.sliders)
            {
                <div> <img src="~/img/@item.ImageUrl" alt=""> </div>
            }

        </div>
        <div class="container context pl-lg-5 ml-lg-3">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text">
                        <h1 style="color:aliceblue;">@Html.Raw(Model.pageIntro.Tittle)</h1>

                        <p class="text-black-50 d-none d-sm-block">
                      @Model.pageIntro.Desc</p> 
                    </div>
                    <div class="img">
                        <img src="~/img/@Model.pageIntro.ImageUrl" alt="" >
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SLIDER END -->
    <!-- PRODUCTS START -->

    <section id="products">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 d-flex justify-content-between">
                    <ul class="category-mobile d-md-none list-unstyled">
                        <li>
                            <a href="" class="categories mr-2">Categories</a>
                            <i class="fas fa-caret-down"></i>
                            <ul class="category list-unstyled" style="display: none;">
                                <li><a href="" data-id="all">All</a></li>
                                @foreach (var item in Model.categories)
                                {
                                    <li><a href="" data-id="@item.Name.ToLower()">@item.Name</a></li>
                                }


                            </ul>
                        </li>
                    </ul>
                    <ul class="category d-none d-md-flex list-unstyled">
                        <li><a href="" data-id="all">All</a></li>
                        @foreach (var item in Model.categories)
                        {
                            <li><a href="" data-id="@item.Name.ToLower()">@item.Name</a></li>
                        }
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="mr-2">Filter</a>
                            <i class="fas fa-caret-down"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img src="~/img/01-Book-Mock-Up-1.webp" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>MAJESTY PALM</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">Free</span>
                        </div>
                    </div>
                </div>
               
                @await Component.InvokeAsync("Products")
            </div>
        </div>
     
    </section>

    <!-- PRODUCTS END -->
    <!-- SUBSCRIBE START -->

    <section id="subscribe">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-12">
                    <div class="content text-center py-5">
                        <h3>Join The Colorful Bunch!</h3>
                        <div class="form-group d-flex justify-content-center flex-wrap mt-5">
                            <input type="email" placeholder="Email Address" class="form-control-lg rounded-0">
                            <button class="btn btn-danger btn-lg rounded-0 px-5 mt-3 mt-sm-0">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SUBSCRIBE END -->


</main>

<!-- MAIN END --> 
